

<div class="row">
    <div class="col-12 text-right">
        <button 
        routerLink="adduser"
        class="btn btn-info">Add user</button>
        <hr>
        <ul class="list-group">
            <li
             [routerLink]="[user.userId]"
             *ngFor="let user of usersData"
              class="list-group-item">
              {{user.username}} {{user.userId}}
            </li>
            </ul>
            </div>
            <div class="col-md-8">
            </div>
            

