

<div class="row">
    <div class="col-12 text-left">
        <button 
        routerLink="addproduct"
        class="btn btn-info">Add product</button>
        <hr>
        <ul class="list-group" *ngIf="productData; else noproducts">
            <li
            [routerLink]="[product.pid]"
            *ngFor="let product of productData"
            class="list-group-item">
            {{product.pname}} {{product.pid}}
            </li>
            </ul>
            </div>
            </div>

            <ng-template #noproducts> 
                <P class="alert alert-info">
                    no products data
                </P>
                </ng-template>
            
